body#grocery-list {  
    background: url( "food.png" );
}


/*

input[type=text] {
    width: 90%;
    border: solid 1px #000;
}

input[type=submit] {
    width: 90%;
    border: outset 2px #22a701;
    padding: 5px;
    background: #99FFA3;
    border-radius: 15px;
    cursor: pointer;
}

input[type=radio] {
    border: solid 1px #000;
}

select {
    width: 90%;
    background: #fff;
    border: solid 1px #000;
}

hr {
    border: none;
    height: 2px;
    background: #000;
    width: 75%;
    margin: 10px auto;
}

.updater {
    margin: 0 auto;
    padding: 2%;
    width: 90%;
    border: solid 2px #000;
    background: rgba( 255, 255, 255, 0.8 );
}

.updater .label {
    font-size: 10pt;
}

.food-list .category {
    float: left;
    width: 10%;
}

.food-list .category .header {
    font-weight: bold;
}

.food-list .category .food-item {
    margin: 5px 0;
}

.food-list .category .food-name {
    font-size: 10pt;
}

.food-list .category .delete-button {
    background: #ff7878;
    border-color: #8c0000;
}

@media only screen and (max-width: 1000px) {
    body,
    input[type=text],
    input[type=submit],
    select option,
    select
    {
        font-size: 60pt;
    }

    .food-list .category .food-name {
        font-size: 40pt;
    }
    
    .updater {
        width: 100%;
        padding: 0;
        background: none;
        border: none;
        text-align: center;
    }
    
    .updater .label {
        font-size: 30pt;
    }

    .updater .option-block {
        clear: both;
        width: 100%;
    }

    .food-list .category {
        float: none;
        width: 100%;
        border-bottom: dashed 2px #000;
    }

    .food-list .category .food-item {
        margin: 20px 0;
    }
}





.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
*/
